.dollard-jumbotron
	background-image url('postcard.jpg')
	background-size cover
	margin-top -25px

	nav
		text-align left
		position absolute
		top 70px
		left 0
		width 100%

	h1
		color rgba(0, 0, 0, 1.0)
		text-shadow 0 1px 0 rgba(255, 255, 255, 0.2)
