<template name="home">

	<p class="lead text-center">
		<a href="{{urlFor 'records'}}">{{total_letters}} correspondences</a>
		maintained by
		<a href="mailto:dollard@denison.edu">Catherine Dollard, Ph.D.</a>, et al.
	</p>


	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<span class="glyphicon glyphicon-user"></span>
						Frequently Referenced People
					</h5>
				</div>
				<ul class="list-group">
					{{#each top_10_people}}
					<li class="list-group-item">
						{{name}} <span class="badge pull-right">{{value}}</span>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>


		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<span class="glyphicon glyphicon-tree-conifer"></span>
						Frequently Referenced Origins
					</h5>
				</div>
				<ul class="list-group">
					{{#each top_10_places_of_origin}}
					<li class="list-group-item">
						{{name}} <span class="badge pull-right">{{value}}</span>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>


		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h5>
						<span class="glyphicon glyphicon-calendar"></span>
						Frequency by year
					</h5>
				</div>
				<ul class="list-group">
					{{#each letters_per_year}}
					<li class="list-group-item">
						{{name}} <span class="badge pull-right">{{value}}</span>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</template>
